
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
.idea/
.docker/data/
/vendor/
###< symfony/framework-bundle ###
